<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style01.css">
</head>

<body>
    <nav>
        <a href="/">upload</a>
        <a href="/filemanager">filemanager</a>
        <a href="/info">info</a>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>

</html>