<div id="left_div">
    <h1>multiupload</h1>
</div>
<div id="right_div">
    <div id="right_div_upload">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" required="" accept="*/*" name="imagetoupload" multiple="">
            <button type="submit">upload</button>
        </form>
    </div>
</div>